
@{
    ViewBag.Title = "ModificationEffectuee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Modification(s) éffectuée</h2>
<script type="text/javascript">
    setTimeout(function () { window.location.href = '' }, 5000);
</script>
